<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="Cart"/>

    <!-- Send debug messages to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{X-B3-TraceId:-} %X{X-B3-SpanId:-} %level %logger{35} [%t] %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <appender name="ELASTIC" class="com.fooapp.cart.conf.log.StructuredArgumentsElasticsearchAppender">
        <url>http://elasticsearch:9200/_bulk</url>
        <index>cart-%date{yyyy-MM}</index>
        <type>tester</type>
        <includeMdc>true</includeMdc>
        <properties>
            <property>
                <name>host</name>
                <value>${HOSTNAME}</value>
                <allowEmpty>false</allowEmpty>
            </property>
            <property>
                <name>severity</name>
                <value>%level</value>
            </property>
            <property>
                <name>thread</name>
                <value>%thread</value>
            </property>
            <property>
                <name>stacktrace</name>
                <value>%ex</value>
            </property>
            <property>
                <name>logger</name>
                <value>%logger</value>
            </property>
        </properties>
        <headers>
            <header>
                <name>Content-Type</name>
                <value>application/x-ndjson</value>
            </header>
        </headers>
    </appender>

    <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="ELASTIC"/>
</root>

    <logger name="com.fooapp.cart" level="INFO">
    </logger>

    <logger name="com.netflix.hystrix.AbstractCommand" level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ELASTIC"/>
    </logger>

</configuration>
